*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/* ++++++++++ FONT-FACE ++++++++++ */

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto bold";
    src: url(../fonts/Roboto//Roboto-Bold.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    font-family: "Roboto Regular",Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4{
    font-family: "roboto regular",Arial, Helvetica, sans-serif;
    color: #112E3E;
}
/* ++++++++++ HEADER ++++++++++ */

header{
    background-color: #112E3E;
}
/* ++++++++++ NAVBAR ++++++++++ */

.navbar-brand img{
    max-width: 250px;
}
.navbar-brand img:hover{
    opacity: 0.75;
}
.nav-link, .nav-link:active{
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    border-right: solid 1px white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    max-height: 25px;
    line-height: 25px;
}
.nav-link:hover{
    color:#edd154 !important;
}
/* ++++++++++ carousel ++++++++++ */
.carousel-inner{
    max-height: 500px;
}
.carousel-item{
    transform: translate(0%, -10%);
}
/* ++++++++++ BOUTON RDV ++++++++++ */
.btn-renovation{
    background-color: #112E3E;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 45px;
    font-family: lato,Arial, Helvetica, sans-serif;
}
.lieu-rea{
    font-size: 0.9rem;
}
#dernieres-rea img{
    max-height: 300px !important;
    width:100%;
    object-fit: cover;
}
